body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.photo {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  filter: grayscale(100%);
}
